body{
	margin: 0px;
	padding: 0 4% 0 4%;
	background-color: #e6e6e6;//#3e3e3e
	.wrap{
		.left{
			background-color: #e6e6e6;
			width: 30%;
			display: inline-block;
			.photo{
				img{
					width: 60%;
					padding: 5% 20% 5% 20%;
				}
			}
			table{
				width: 85%;
				margin-left: 7.5%;
				margin-bottom: 7.5%;
				font-family: "Times New Roman";
				color: #5d5d5d;
				text-align: left;
				vertical-align:center;
				word-break: break-all;  
				border-spacing:0px 5px;

				th{
					color: #000;
				}
				h2,h3,h4{
					display: inline;
					padding: 0px;
				}
				h3{
					font-size: 1.3em;
				}
				a{
					text-decoration: none;
					color: inherit;
				}
				i{
					 white-space: nowrap;
				}
				img{
					padding: 0px;
					max-width:40%;
				}
				tbody{
						th,td{
						border-bottom: 1px solid;
						border-color: #a9a9a9;
					}
				}
			}
		}
		.right{
			background-color: #fff;
			width: 70%;
			float: right;
			font-family: "TIMES NEW ROMAN";
			.rhead{
				height: 200px;
				background-image: url('img/1.jpg');
				background-color: #fff;
				background-repeat: no-repeat;
				background-size: cover;
				.text{
					background-color: transparent;
					color: #fff;
					padding-left: 10%;
					padding-top: 3%;
					h1{
						text-align: center;
						padding: 0px;
						border:5px solid;
						border-color: #fff;
						width: 40%;
					}
					h2{
						text-align: center;
						width: 40%;
						border-bottom: 2px solid;
						border-color: #fff;
						font-weight: normal;
						padding-bottom: 10px;
						margin-bottom: 3px;
					}
					h3{
						text-align: center;
						width: 40%;
						font-weight: normal;
						margin-top: 0px;
					}
					
				}
			}
			.profile{
				padding: 0 3% 0 3%;
				color:  #5d5d5d;
				h2,h3,h4{
					display: inline;
					padding: 0px;
					color: #000;
				}
				h3{
					font-size: 1.3em;
				}
				.vuni{
					margin-bottom: 20px;
				}
				.arrow{
					display: inline-block;
					width: 30%;
					height: 30px;
					line-height: 30px;
					background-color: #404040;
					color: #fff;
					text-align: center;
				}
				.skill,.skill1{
					display: inline-block;
					width: 40%;
					margin-bottom: 10px;
					.mark{
					display: inline-block;
					width: 100%;
					height: 18px;
					line-height: 18px;
					background-color: #404040;
					color: #fff;
					text-align: center;
						.inner{
						display: inline-block;
						background-color:#fff;
						margin-top: 2px;
						margin-right: 2px;
						margin-bottom: 2px;
						height: 14px;
						float: right;
						}
					}
				}
				.skill1{
					float: right;
				}
				.jian {
				 display:inline-block;
				  width: 0;
				  height: 0;
				  border-top: 15px solid #fff;
				  border-bottom: 15px solid #fff;
				  border-left: 26px solid #404040;
				  float: right;
				  //margin-left: 20px;
				}
				.uni{
					display:inline-block;
					width: 60%;
					float: right;
				}

			}

		}
	}

}